---
import MePig from '../images/pig.jpg'
import One from '../images/1.webp'
import Two from '../images/2.webp'
import Three from '../images/3.webp'
import Smile from '../images/smile.webp'
import Cobra from '../images/cobra.webp'
import Ball from '../images/ball.webp'
import Code from '../images/code.jpeg'
import Easy from '../images/easy.jpeg'
import Hello from '../images/hello.jpeg'
import Pow from '../images/pow.jpeg'
import Dunes from '../images/dunes.jpg'
import Swirl from '../images/swirl.jpeg'
import Preview from '../components/Preview.astro'
import PageLayout from '../layouts/PageLayout.astro'
import LinkButton from '../components/LinkButton.astro'
import Heading from '../components/Heading.astro'
import StyledLink from '../components/StyledLink.astro'
import { Image } from 'astro:assets'
---

<PageLayout
    description="I'm Thomas Meerpohl, a freelancer based in Dresden, Germany. I'm a fullstack javascript web developer. I build websites, webapplications and mobile cross-plaform apps."
>
    <section class="px-4 sm:px-10 text-2xl text-pretty grid gap-10 items-end w-full max-w-400">
        <Image
            id="profile"
            class="col-start-1 row-start-1 w-full aspect-1/1.5 md:aspect-2/1 object-cover outline-8 -outline-offset-8 shadow-lg rounded-sm"
            src={MePig}
            alt="A young and handsome Thomas Meerpohl"
            loading="eager"
        />

        <div class="contact grid justify-items-start gap-8 col-start-1 row-start-1 z-10 px-6 md:px-10 py-10 md:py-20">
            <Heading type="h1" class="grid gap-2">
                <p class="text-3xl text-shadow-lg/30">Hi, I'm your freelance developer</p>
                <p class="leading-none text-shadow-lg/30">Thomas Meerpohl</p>
            </Heading>
            <LinkButton href="mailto:thomas.meerpohl@gmail.com" class="text-2xl">Contact me</LinkButton>
        </div>
    </section>

    <section
        class="px-4 sm:px-10 grid gap-20 py-40 bg-dark justify-self-stretch grid-cols-[minmax(0,1fr)] overflow-clip"
    >
        <Heading type="h2">Gallery</Heading>

        <!-- <div class="grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] gap-6"> -->
        <div
            class="grid justify-items-stretch sm:justify-items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-10 w-full"
        >
            <Preview src={Cobra} class="gallery-image opacity-0" />
            <Preview src={One} class="gallery-image opacity-0" />
            <Preview src={Dunes} class="gallery-image opacity-0" />
            <Preview src={Pow} class="gallery-image opacity-0" />
            <Preview src={Ball} class="gallery-image opacity-0" />
            <Preview src={Easy} class="gallery-image opacity-0" />
            <Preview src={Smile} class="gallery-image opacity-0" />
            <Preview src={Three} class="gallery-image opacity-0" />
            <Preview src={Code} class="gallery-image opacity-0" />
            <Preview src={Two} class="gallery-image opacity-0" />
            <Preview src={Hello} class="gallery-image opacity-0" />
            <Preview src={Swirl} class="gallery-image opacity-0" />
        </div>
    </section>

    <section
        class="px-4 sm:px-10 text-xl text-pretty grid gap-10 justify-items-start about py-20 max-w-7xl mx-auto bg-black rounded-sm"
    >
        <Heading type="h2">About me</Heading>

        <article class="grid gap-4 text-white">
            <p>I'm a full-stack developer from Dresden, Germany.</p>
            <p>
                My focus is on building applications <StyledLink href="/what">using web technologies</StyledLink>. In my
                freetime I like to code interactive SVG playgrounds that I use to create prints for friends and family.
            </p>
            <p>
                During my {new Date().getFullYear() - new Date(2016, 0).getFullYear()} years professional career, I have
                worked in large international Scrum teams as well as small and highly dynamic startups.
            </p>
            <p>The products I helped develop are being used by thousands of users around the world.</p>
            <p>
                If you need assistance with your next project, feel free to <StyledLink
                    href="mailto:thomas.meerpohl@gmail.com">contact me</StyledLink
                > and I will provide you with a detailed CV.
            </p>
        </article>
    </section>
</PageLayout>

<script>
    import { fadeIn } from '../utils/animation'
    import { gsap } from 'gsap'
    import { ScrollTrigger } from 'gsap/ScrollTrigger'

    fadeIn('.contact > *', '.contact', { startOffset: 50 })
    ScrollTrigger.batch('.gallery-image', {
        interval: 0.1,
        start: 'top bottom-=100px',
        once: true,
        onEnter(elements) {
            gsap.fromTo(
                elements,
                {
                    opacity: 0,
                    y: '20%',
                    filter: 'blur(10px) hue-rotate(180deg)',
                },
                {
                    opacity: 1,
                    y: 0,
                    duration: 0.5,
                    stagger: 0.3,
                    ease: 'power1.out',
                    grid: 'auto',
                    filter: 'blur(0px) hue-rotate(0deg)',
                }
            )
        },
    })
</script>
