---
type Props = {
    id: string
    name: string
    min: number
    max: number
    value: number
    reset?: number
    step?: number
    class?: string
}

const { id, name, min, max, value, reset, step = 1, class: className, ...rest } = Astro.props
const { pathname } = Astro.url
---

<label class:list={['font-bold text-xs grid gap-1 text-dark', className]} {...rest}>
    {name}
    <input
        id={id}
        class="h-2 min-w-0"
        type="range"
        min={min}
        max={max}
        value={value}
        step={step}
        data-umami-event={`changed ${name} on ${pathname}`}
    />
</label>

<script is:inline define:vars={{ id, reset }}>
    const slider = document.getElementById(id)
    slider?.addEventListener('dblclick', () => {
        if (typeof reset === 'undefined') {
            return
        }

        slider.value = reset
        slider.dispatchEvent(new Event('input'))
    })
</script>

<style>
    input[type='range'] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        background-color: transparent;
        --height: 0.7rem;
        --outline: 2px;
    }

    input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background-color: var(--color-dark);
        border-radius: 100vmax;
        outline: var(--outline) solid var(--color-dark);
        outline-offset: calc(-1 * var(--outline));
        height: var(--height);
    }

    input[type='range']::-moz-range-track {
        -webkit-appearance: none;
        background-color: var(--color-dark);
        border-radius: 100vmax;
        outline: var(--outline) solid var(--color-dark);
        outline-offset: calc(-1 * var(--outline));
        height: var(--height);
    }

    input[type='range']:hover::-webkit-slider-runnable-track {
        background-color: var(--color-brand);
    }

    input[type='range']:hover::-moz-range-track {
        background-color: var(--color-brand);
    }

    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        background-color: var(--color-brand);
        height: var(--height);
        width: var(--height);
        border-radius: 100vmax;
        outline: var(--outline) solid var(--color-dark);
        outline-offset: calc(-1 * var(--outline));
    }

    input[type='range']::-moz-range-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        background-color: var(--color-brand);
        height: var(--height);
        width: var(--height);
        border-radius: 100vmax;
        outline: var(--outline) solid var(--color-dark);
        outline-offset: calc(-1 * var(--outline));
    }

    input[type='range']:hover::-webkit-slider-thumb {
        background-color: var(--color-dark);
        outline-color: var(--color-brand);
    }

    input[type='range']:hover::-moz-range-thumb {
        background-color: var(--color-dark);
        outline-color: var(--color-brand);
    }
</style>
